/**
 * Imported rules must come before all other types of rules, except @charset rules and layer creating @layer statements. 
 * ref: https://developer.mozilla.org/en-US/docs/Web/CSS/@import#description
 */
@import url('https://unpkg.com/open-props/easings.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body *:not(svg) {
  @apply scrollbar-thin scrollbar-thumb-rounded-full;
  @apply scrollbar-track-gray-200 scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500;
  @apply dark:scrollbar-thumb-gray-600 dark:hover:scrollbar-thumb-gray-500;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

/* https://developer.mozilla.org/en-US/docs/Web/API/View_Transitions_API#controlling_animations_with_javascript */
::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}
