@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-gutter: stable both-edges;
  @apply scrollbar-thin scrollbar-thumb-rounded-full;
  @apply scrollbar-track-transparent scrollbar-thumb-gray-300 hover:scrollbar-thumb-gray-400;
  @apply dark:scrollbar-thumb-gray-600 dark:hover:scrollbar-thumb-gray-500;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

/* https://developer.mozilla.org/en-US/docs/Web/API/View_Transitions_API#controlling_animations_with_javascript */
::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}
